db:
  username: ${username.value:postgres}
  driver: Postgres
  password: aqwsde322
  pool:
    size: 20
    timeout: 40
  properies:
    first: 123
    second: 456
    third.value: third
  url: postgres:5432
  hosts: localhost, 127.0.0.1
  pools:
    - size: 1
      timeout: 1
    - size: 2
      timeout: 3
    - size: 3
      timeout: 3


spring:
  config:
      additional-location: classpath:auth.yml
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
    format:
      date: iso
  profiles.active: qa
  datasource:
    url: jdbc:postgresql://localhost:5433/postgres
    username: root
    password: root
    driver-class-name: org.postgresql.Driver
  jpa:
    properties.hibernate:
      show_sql: true
      format_sql: true
      hbm2ddl.auto: update
      jdbc.batch_size: 50
    open-in-view: false
#  security:
#    oauth2:
#      client:
#        registration:
#          google:
#            client-id: 655729950631-k6lpgfqdof3av6qagdoqeudl2q167559.apps.googleusercontent.com
#            redirect-uri: http://localhost:8080/login/oauth2/code/google
#            client-secret: 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
#            scope: openid, email, profile



logging:
  level:
    root: INFO
    core.rybina.config.JpaConfiguration: INFO
    core.rybina.config: INFO
    org.springframework.jdbc.core: DEBUG
  file:
    name: ./src/main/java/core/rybina/rybina.log
#springdoc:
#  swagger-ui:
#    oauth:
#      client-id: 655729950631-k6lpgfqdof3av6qagdoqeudl2q167559.apps.googleusercontent.com
#      client-secret: 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
#      scopes: openid, email, profile
#    oauth2-redirect-url: http://localhost:8080/swagger-ui/oauth2-redirect.html
