<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:action="@{/users}" method="post" th:object="${user}">
    <label for="username">
        <input id="username" type="text" name="username" th:value="*{username}"/>
    </label><br>
    <label for="birthdate">
        <input id="birthdate" type="date" name="birthdate"
               th:value="${user.birthdate == null ? #dates.format(#dates.createNow(), 'yyyy-MM-dd') : user.birthdate}"
        />
    </label><br>
    <label for="lastname">
        <input id="lastname" type="text" name="lastname" th:value="*{lastname}"/>
    </label><br>
    <label for="firstname">
        <input id="firstname" type="text" name="firstname" th:value="*{firstname}"/>
    </label><br>
    <div th:each="role : ${roles}">
        <input th:id="${role}" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
        <label th:for="${role}" th:text="${role}">Dummy role</label>
    </div>
    <div>
        <label for="company">
            <select id="company" name="companyId">
                <option th:each="company : ${companies}"
                        th:value="${company.id()}"
                        th:selected="${company.id() == user.companyId}"
                        th:text="${company.name()}">Dummy company
                </option>
            </select>
        </label>
    </div>
    <button type="submit">Register</button>
</form>
<div th:if="${errors}">
    <p style="color: red" th:each="error : ${errors}" th:text="${error.defaultMessage}">
        Dummy error
    </p>
</div>
<a href="/login"></a>
</body>
</html>