<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
<form action="/users">
    <label for="firstname">
        <input id="firstname" type="text" name="firstname">
    </label>
    <label for="lastname">
        <input id="lastname" type="text" name="lastname">
    </label>
    <label for="birthdate">
        <input id="birthdate" type="date" name="birthdate">
    </label>
    <button type="submit">Filter</button>
</form>
<div th:each="user : ${users}">
    <a th:href="@{'/users/' + ${user.id}}" th:text="|${user.id}. ${user.username}|">Dummy</a>
</div>
</body>
</html>